# Crea un archivo .env.local basado en este archivo y pon los datos reales del cliente
NEXT_PUBLIC_PHONE_NUMBER="+57 300 000 0000"
NEXT_PUBLIC_WHATSAPP_NUMBER="573000000000"
NEXT_PUBLIC_EMAIL="ejemplo@empresa.com"
